$border : #B8B8B8;

:root {
  --br_m1: 10px;
  --br_m2: 15px;
  --br_m3: 25px;
  --br_m4: 50px;
}

#nav_brand_page {
  display: flex;
}

#header {
  .btn_play {
    display: flex;
  }

  .select_play {
    display: none;
  }
}

#nav_brand_page {
  display: none;
}

body[data-page-brand] {
  .num_list {
    margin: 25px 0;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .list {
    margin: 25px 0;
    padding-left: 40px;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    padding-left: 0;
  }

  #header {
    .btn_play {
      display: none;
    }

    .select_play {
      display: flex;
    }
  }

  #nav_main_page {
    display: none;
  }

  #nav_brand_page {
    display: flex;
  }

  #main .container {
    max-width: 1250px;
    background: none;
    box-shadow: none;
    width: 100%;
  }

  #promo {
    background: #f1f1f1;
    border: none;
    padding: 0;
    padding-top: var(--br_m3);
    padding-bottom: 40px;
  }
}


// ===========================
// ===========================
//  GENERAl
// ===========================
// ===========================

.breadcrumbs {
  .breadcrumbs__item {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  .breadcrumbs__separator {
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url("../img/page_brand/separator.svg") center center / cover no-repeat;
    margin: 0 5px;
  }

  .breadcrumbs__cur_item {
    color: #afafaf;
  }
}

.select {
  position: relative;
}

.select__header {
  max-width: 230px;
  background-color: $green;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--br_m3);
  cursor: pointer;
  transition: .2s;

  &:hover {
    background-color: $green_active;
  }

  img {
    width: 15px;
    height: 7px;
    transition: .3s;
  }
}

.select__items {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background: #fff;
  padding: 0px 10px;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.select__item {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  display: inline-block;

  &:hover {
    color: $green;
  }

  span {
    color: $gold;
  }
}

.select__item:not(:last-child) {
  margin-bottom: 15px;
}

.select[active] {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));

  .select__header img {
    transform: rotate(180deg);
  }

  .select__items {
    max-height: 500px;
    padding: var(--br_m2) var(--br_m1);
  }
}

.anim_btn {
  font-size: 18px;
  position: relative;
  overflow: hidden;

  &::after {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #fff;
    opacity: .3;
    transform: translateX(-90%) rotate(45deg);
    transition: .8s;
  }

  &:hover::after {
    transform: translateX(90%) rotate(45deg);
  }
}

// ===========================
// ===========================
//  ###### GENERAl
// ===========================
// ===========================

body[data-page-brand] {

  h2.title_section {
    margin-top: var(--br_m4);
    margin-bottom: var(--br_m3);
  }

  .offer__wrap {
    display: flex;
    align-items: center;
    column-gap: 45px;
  }

  .offer__logo_wrap {
    display: inline-block;
    position: relative;
  }

  .offer_rating {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(17px, -9px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 6px;
    background: $black;

    .offer_rating__total {
      color: #fff;
      transform: translateY(1px);
      font-weight: 600;
    }
  }

  .offer__body {
    max-width: 750px;
  }

  #promo .offer__desc {
    font-size: 14px;
  }

  #offer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .offer__title {
      color: $black;
    }
  }

  .offer_btn .anim_btn {
    width: 220px;
  }

  .db_table {
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid $border;

    tr {
      display: block;
    }

    td {
      padding: 15px 20px;
      border-bottom: 1px solid $border;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tr:nth-child(even) {
      background: #f5f5f5;
    }

    .db_title {
      width: 200px;
      font-weight: 500;
    }

    .db_content {
      max-width: 325px;
      font-weight: 700;
      width: 325px;
    }

    .db_content:nth-child(2) {
      border-right: 1px solid $border;
    }
  }

  .feature__icon_wrap {
    width: 44px;
    height: 44px;
    background: #454545;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature__title_wrap {
    display: flex;
    align-items: center;
    column-gap: var(--br_m2);
  }

  .feature__row {
    display: flex;
    align-items: center;
    padding: var(--br_m2) 20px;
    border-bottom: 1px solid $border;
  }

  .feature__row:last-child {
    border-bottom: none;
  }

  .feature__table {
    border: 1px solid $border;
  }

  .feature__items {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  .feature__title_wrap {
    max-width: 280px;
    width: 100%;
  }

  .feature__title {
    font-size: 14px;
  }

  .feature__item,
  .feature__more_btn {
    padding: 6px 10px;
    border-radius: 15px;
    background: $green;
    color: #fff;
    font-size: 14px;
    min-width: 127px;
    text-align: center;
  }

  .feature__more {
    position: relative;

    &:hover {
      .feature__more_content {
        display: block;
      }
    }
  }

  .feature__more_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-115%);
    background: #fff;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
    width: 100%;
  }

  .feature__more_item {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  }

  .feature__more_btn {
    background: none;
    border: 2px solid $green;
    color: $black;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background: rgba(0, 128, 0, 0.062);
    }
  }

  .feature__more_count::before {
    content: "+";
  }

  .rating__table {
    border: 1px solid $border;
    max-width: 700px;
    width: 100%;
  }

  .rating__wrap {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }

  .rating__stars {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .rating__star {
    width: 20px;
    height: 19px;
    background: url("../img/star.svg") center center / cover no-repeat;
  }

  .rating__star[half] {
    background: url("../img/half_star.svg") center center / cover no-repeat;
  }

  .rating__star[empty] {
    background: url("../img/empty_star.svg") center center / cover no-repeat;
  }

  .rating__row {
    display: flex;
    align-items: center;
    column-gap: 130px;
    border-bottom: 1px solid $border;
    padding: 15px 20px;
  }

  .rating__row:last-child {
    border-bottom: none;
  }

  .rating__title {
    max-width: 300px;
    width: 100%;
  }

  .rating__txt {
    font-weight: 600;
    transform: translateY(2px);
    white-space: nowrap;
  }

  .rating__container {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }

  .rating__total {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: 8px solid #309A6B;
    border-radius: 100%;
    width: 130px;
    height: 130px;
  }

  .rating__total_star {
    width: 28px;
    height: 27px;
  }

  .rating__total_txt {
    font-weight: 600;
    font-size: 20px;
  }

  #plus_minus {
    margin-top: var(--br_m4);
    display: flex;
    column-gap: 50px;
  }

  .pm_item {
    font-weight: 500;
    display: flex;
  }

  .pm_item__icon {
    height: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .pm_header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background: #454545;
  }

  .pm_header__icon_wrap {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pm_block {
    max-width: 460px;
    width: 100%;
  }

  .pm_item:not(:last-child) {
    margin-bottom: 10px;
  }

  .pm_block__plus {
    .pm_title {
      color: $green;
    }

    .pm_header__icon {
      width: 18px;
      height: 3px;
      background: #fff;
      position: relative;

      &::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 18px;
        background: #fff;
        transform: translate(-2px, -50%);
        position: relative;
        top: 50%;
        left: 50%;
      }
    }

    .pm_header__icon_wrap {
      background: $green;
    }
  }

  .pm_title {
    font-weight: 700;
    font-size: 18px;
  }

  .pm_block__minus {
    .pm_title {
      color: $red;
    }

    .pm_header__icon {
      width: 18px;
      height: 3px;
      background: #fff;
    }

    .pm_header__icon_wrap {
      background-color: $red;
    }
  }

  .pm_content {
    border: 1px solid $border;
    padding: 15px;
    padding-bottom: 20px;
  }

  #article {
    img {
      width: 100%;
      max-width: 800px;
    }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 30px 0;

      figcaption {
        font-style: italic;
        margin-top: 10px;
      }
    }

    .img_row {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 25px;
      overflow: hidden;

      img {
        max-width: 50%;
      }
    }
  }

  #faq {
    border-bottom: 1px solid #a0a0a03f;
    padding-bottom: 25px;

    .title_section {
      margin-top: 30px;
    }

    .faq__item_title {
      background: #454545;
      color: $gold;
    }

    .faq__item_content {
      border-color: #454545;
    }
  }

  .table__big {
    max-width: 80%;
    margin: 30px auto;

    table {
      width: 100%;
    }
  }

  .table__responsive {
    margin: 0 auto;
  }

  .review__star {
    width: 16px;
    height: 15px;
    background: url("../img/star.svg") center center / cover no-repeat;
  }

  .review__star[empty] {
    background: url("../img/page_brand/border_star.svg") center center / cover no-repeat;
  }

  .review {
    display: flex;
    column-gap: 15px;
  }

  .review:not(:last-child) {
    margin-bottom: 25px;
  }

  .review__icon_wrap {
    min-width: 55px;
    height: 55px;
    background: #454545;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .review__header,
  .review__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review__rating {
    display: flex;
    column-gap: 2px;
  }

  .review__btn {
    border: none;
    background: $green;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $green_active;
    }
  }

  .review__content {
    border: 1px solid #a0a0a03f;
    padding: 10px;
    max-width: 700px;
    background: #fff;
  }

  .review__name {
    font-weight: 700;
  }

  .review__time {
    font-style: italic;
    font-weight: 500;
  }

  .review__reply {
    display: none;
  }

  .review[reply] {
    margin-left: 40px;

    .review__reply {
      display: inline-block;
    }

    .review__rating {
      display: none;
    }

    .review__footer {
      display: none;
    }
  }

  .review__wrap {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }

  .review__reply span {
    font-weight: 700;
  }

  .reviews__wrap {
    border-bottom: 1px solid #a0a0a03f;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .rating-area {
    overflow: hidden;
    display: inline-block;
  }

  .rating-area:not(:checked)>input {
    display: none;
  }

  .rating-area:not(:checked)>label {
    float: right;
    width: 34px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    color: lightgrey;
  }

  .rating-area:not(:checked)>label:before {
    content: '★';
  }

  .rating-area>input:checked~label {
    color: gold;
  }

  .rating-area:not(:checked)>label:hover,
  .rating-area:not(:checked)>label:hover~label {
    color: gold;
  }

  .rating-area>input:checked+label:hover,
  .rating-area>input:checked+label:hover~label,
  .rating-area>input:checked~label:hover,
  .rating-area>input:checked~label:hover~label,
  .rating-area>label:hover~input:checked~label {
    color: gold;
  }

  .rate-area>label:active {
    position: relative;
  }

  .review__form {
    max-width: 850px;
  }

  .review__txt {
    display: inline-block;
    width: 100%;
    height: 80px;
    min-height: 80px;
    max-height: 200px;
    padding: 10px;
    resize: vertical;
    box-sizing: border-box;
    border: 1px solid #a0a0a03f;

    &:focus {
      border: none;
      outline: 2px solid $green;
    }
  }

  .review__form_label {
    font-weight: 600;
  }

  .review__form_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .review__rating_wrap {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  #footer {
    margin-top: 100px;
  }

  .review__form_inputs {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    margin-top: 10px;
  }

  .review__form_input_wrap:first-child {
    width: 100%;
  }

  .review__form_input_wrap:last-child {
    width: 140%;
  }

  .review__form_input {
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    width: 100%;
    border: 1px solid #a0a0a03f;

    &:focus {
      border: none;
      outline: 2px solid $green;
    }
  }

  .review__form_input_wrap .review__form_label {
    margin-bottom: 10px;
  }

  .review__form_row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: start;
  }

  .review__form_agree {
    display: flex;
    align-items: center;
    column-gap: 6px;

    input,
    label {
      cursor: pointer;
    }

    label {
      font-size: 14px;
    }
  }

  .review__form_btn {
    max-width: 250px;
    width: 100%;
    padding: 15px 0px;
    background: $green;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: $green_active;
    }
  }

  .review__form[is_reply] {
    .review__rating_wrap {
      display: none;
    }
  }

  #sticky {
    position: fixed;
    bottom: 0;
    background: rgba(53, 53, 53, 0.7);
    width: 100%;
    overflow: visible;
    transform: translateY(110%);
    transition: .4s;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: visible;
      max-height: 90px;
    }
  }

  .sticky__btn {
    text-decoration: none;
  }

  #sticky[active] {
    transform: translateY(0%);
  }

  .sticky__close_btn {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .sticky__wrap {
    height: 105px;
    max-width: 515px;
    width: 100%;
    background: url("../img/page_brand/sticky_bg.svg") center center / cover no-repeat;
    display: flex;
    align-items: center;
    column-gap: 15px;
    overflow: visible;
  }

  .sticky__icon {
    margin-left: 20px;
    width: 64px;
    height: 64px;
  }

  .sticky__title {
    font-size: 20px;
    font-weight: 900;
    color: $green;
  }

  .sticky__rating_wrap {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 10px;
  }

  .sticky__rating {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .sticky__rating_star {
    width: 19px;
    height: 18px;
    background: url("../img/star.svg") center center / cover no-repeat;
  }

  .sticky__rating_star[empty] {
    background: url("../img/page_brand/border_star.svg") center center / cover no-repeat;
  }

  .sticky__rating_total {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
  }

  .sticky__info {
    transform: translateY(-3px);
  }

  .sticky__close_btn {
    cursor: pointer;
  }
}